<div class="pos-f-t fixed-top header">
	<nav class="navbar navbar-dark bg-dark navbar-expand-md ps-3 pe-3">
		<button class="navbar-toggler navbar-toggler-start" (click)="toggleSidebar()">
			<span class="navbar-toggler-icon"></span>
		</button>
		<span class="navbar-brand">
			<span *ngIf="apis.config.logo">
				<a href="https://github.com/denis-martin/swadit" target="_blank">swadit</a>
				<div class="swadit-copyright">
					<a href="https://froschbach.io/apps/swadit/" target="_blank" style="color: #609444">froschbach.io</a>
				</div>
				<span *ngIf="apis.isOas3" style="font-size: 75%; font-weight: bold; color: red" title="OpenAPI 3.0 support is currently limited and should be considered as in 'alpha' state">ALPHA</span>
			</span>
			<span *ngIf="apis.config.title" [innerHTML]="apis.config.title"></span>
			<span *ngIf="apis.current != null && apis.current['info'] != null && apis.current['info']['title'] != null">
				<span *ngIf="apis.config.logo || apis.config.title"> &ndash;</span> {{apis.current['info']['title']}}
			</span>
		</span>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ms-auto mt-2 mt-md-0">
				<li class="nav-item dropdown" ngbDropdown>
					<a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
						<i class="fa fa-fw fa-folder-open"></i>&nbsp;{{ apis.config.menu.title }} <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>

						<a class="dropdown-item" href="javascript:void(0)" *ngFor="let catItem of apis.config.catalog" (click)="apis.openFile(catItem.path)">
							<i class="fa fa-fw fa-folder-open"></i> {{ catItem.title }}</a>
						<div class="dropdown-divider" *ngIf="apis.config.catalog.length > 0"></div>

						<a class="dropdown-item" href="javascript:void(0)" (click)="apis.newFile()" *ngIf="!apis.config.menu.hideItems['new']">
							<i class="fa fa-fw fa-file"></i> {{ 'New' | translate }}</a>
						<a class="dropdown-item" href="javascript:void(0)" (click)="apis.openFileModal()" *ngIf="!apis.config.menu.hideItems['open']">
							<i class="fa fa-fw fa-folder-open"></i> {{ 'Open' | translate }}</a>
						<a class="dropdown-item" href="javascript:void(0)" (click)="apis.addFilesModal()" *ngIf="apis.isOas2 && !apis.config.menu.hideItems['add']">
							<i class="fa fa-fw fa-plus"></i> {{ 'Add' | translate }}</a>
						<a class="dropdown-item" href="javascript:void(0)" (click)="apis.downloadFileModal()" *ngIf="!apis.config.menu.hideItems['download']">
							<i class="fa fa-fw fa-download"></i> {{ 'Download' | translate }}</a>

						<div class="dropdown-divider"></div>
						<a class="dropdown-item" style="cursor: pointer" (click)="apis.convertOas2To3()" *ngIf="apis.isOas2 && !apis.config.menu.hideItems['convertOas2to3']">
							<i class="fa fa-fw fa-align-left"></i> {{ 'Convert to OAS 3' | translate }}<span style="vertical-align: super; font-size: 75%; font-weight: bold; color: red" title="OpenAPI 3.0 support is currently limited and should be considered as in 'alpha' state">ALPHA</span></a>
						<a class="dropdown-item" [routerLink]="['/source']" *ngIf="!apis.config.menu.hideItems['source']">
							<i class="fa fa-fw fa-align-left"></i> {{ 'Source' | translate }}</a>

						<div class="dropdown-divider"></div>
						<!--
						<a class="dropdown-item" [routerLink]="['/print']">
							<i class="fa fa-fw fa-print"></i> {{ 'Print' | translate }}</a>
						-->
						<a class="dropdown-item" [routerLink]="['/swadoc']" title="Print preview (e.g. for PDF export)" *ngIf="!apis.config.menu.hideItems['printPreview'] && apis.isOas2">
							<i class="fa fa-fw fa-print"></i> {{ 'Print Preview' | translate }}</a>
						<a class="dropdown-item" [routerLink]="['/swaggerui']" title="Preview in Swagger UI" *ngIf="!apis.config.menu.hideItems['swaggerUi']">
							<i class="fa fa-fw fa-eye"></i> {{ 'Swagger UI' | translate }}</a>
						<!--
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="javascript:void(0)" (click)="apis.settingsModal()">
							<i class="fa fa-fw fa-cog"></i> {{ 'Settings' | translate }}</a>
						-->
					</div>
				</li>
				<li class="nav-item">
					<a href="javascript:void(0)" class="nav-link" [routerLink]="['/swaggerui']">
						<img src="assets/images/swagger-ui-32x32.png" class="swagger-ui-logo" 
							title="Preview in Swagger UI"> 
					</a>
				</li>
				<!--
				<li class="nav-item dropdown" ngbDropdown>
					<a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
						<i class="fa fa-fw fa-gear"></i>&nbsp;Settings <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</a>
						<a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }} </a>
					</div>
				</li>
				-->
			</ul>
		</div>
	</nav>
</div>
