<!--
	Copyright 2017 Denis Martin.  This file is part of swadit.

	swadit is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	swadit is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with swadit.  If not, see <http://www.gnu.org/licenses/>.
-->

<form (ngSubmit)="ok()" #editForm="ngForm">
	<!--
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Parameter</h3>
	</div>
	-->
	<div class="modal-body" id="modal-body">
		<div class="form-group">
			<label for="parameterKey">Name of parameter</label>
			<input type="text" id="parameterKey" name="parameterKey" [(ngModel)]="key" required
				class="form-control" placeholder="Enter name for parameter" title="Name of parameter">
		</div>
		<div class="form-group">
			<label for="parameterSchema">Parameter</label>
			tbd
		</div>
	</div>
	<div class="modal-footer">
		<button *ngIf="key_orig" class="btn btn-danger mr-auto" (click)="deleteParameter()" title="Delete parameter">
			Delete</button>
		<button class="btn btn-primary" type="submit" [disabled]="!editForm.form.valid" title="Apply changes">
			Apply</button>
		<button class="btn btn-warning" (click)="activeModal.dismiss('cancel')" title="Do not apply changes">
			Cancel</button>
	</div>
</form>
