<!--
	Copyright 2017 Denis Martin.  This file is part of swadit.

	swadit is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	swadit is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with swadit.  If not, see <http://www.gnu.org/licenses/>.
-->

<div *ngIf="schema['items']['type']=='string'">
	<div *ngFor="let item of obj; let index = index; trackBy:trackByIndex" class="input-group" style="margin-bottom:-1px">
		<swadit-primitive-editor class="input-wrap" [wrapClass]="'input-wrap input-wrap-item'" [schema]="schema['items']" [(obj)]="obj[index]">
		</swadit-primitive-editor>
		<span class="input-group-addon" style="border-left: 0; width: 5.1rem;">
			<span>
				<span class="clickable" (click)="moveItemUp($event, index)" *ngIf="index>0"><i class="fa fa-arrow-up"></i></span>
				<span class="clickable" (click)="moveItemDown($event, index)" *ngIf="index<(obj.length-1)"><i class="fa fa-arrow-down"></i></span>
				<span class="clickable" (click)="deleteItem($event, index)"><i class="fa fa-trash"></i></span>
			</span>
		</span>
	</div>
	<div class="input-group">
		<swadit-primitive-editor class="input-wrap" [wrapClass]="'input-wrap'" [schema]="schema['items']" [(obj)]="itemToAdd"
			(keydown.enter)="addItem($event)">
		</swadit-primitive-editor>
		<span class="input-group-addon clickable" style="border-left: 0; width: 5.1rem;" (click)="addItem($event)">
			<i class="fa fa-plus"></i>
		</span>
	</div>
	<ngb-alert *ngIf="noItemToAdd" [type]="'danger'" (close)="noItemToAdd=false">Please enter a valid value to add.</ngb-alert>
</div>

<div *ngIf="schema['items']['type']=='object'">
	<div *ngFor="let item of obj; let index = index" style="margin-bottom: 0.6rem" class="input-group">
		<swadit-object-editor [schema]="schema['items']" [(obj)]="obj[index]" class="form-control" style="background-color: #f7f7f9">
		</swadit-object-editor>
		<div class="input-group-addon">
			<span class="clickable" (click)="deleteItem($event, index)"><i class="fa fa-fw fa-trash"></i></span><br>
			<span class="clickable" (click)="moveItemUp($event, index)" *ngIf="index>0"><i class="fa fa-fw fa-arrow-up"></i><br></span>
			<span class="clickable" (click)="moveItemDown($event, index)" *ngIf="index<(obj.length-1)"><i class="fa fa-fw fa-arrow-down"></i></span>
		</div>
	</div>
	<div class="input-group">
		<swadit-object-editor [schema]="schema['items']" [(obj)]="itemToAdd" class="form-control"
			(keydown.enter)="addItem($event)">
		</swadit-object-editor>
		<div class="input-group-addon clickable" (click)="addItem($event)">
			<i class="fa fa-plus"></i>
		</div>
	</div>
	<ngb-alert *ngIf="noItemToAdd" [type]="'danger'" (close)="noItemToAdd=false">Please enter a valid value to add.</ngb-alert>
</div>
