<!--
	Copyright 2017 Denis Martin.  This file is part of swadit.

	swadit is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	swadit is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with swadit.  If not, see <http://www.gnu.org/licenses/>.
-->

<swadit-swagger-schema-editor *ngIf="schema['x-swadit-swagger-schema']; else nonSwaggerSchema"
	[(obj)]="obj" [id]="id">
</swadit-swagger-schema-editor>

<ng-template #nonSwaggerSchema>
	<swadit-primitive-editor *ngIf="schema['type']=='string' || schema['type']=='boolean'"
		[schema]="schema" [(obj)]="obj" [id]="id">
	</swadit-primitive-editor>
	
	<swadit-array-editor *ngIf="schema['type']=='array'"
		[schema]="schema" [(obj)]="obj" [id]="id">
	</swadit-array-editor>
	
	<swadit-object-editor *ngIf="schema['type']=='object'"
		[schema]="schema" [(obj)]="obj" [id]="id" [group]="group">
	</swadit-object-editor>
</ng-template>