label {
    font-size: 80%;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.modal-title {
    margin: 0;
}

.alert a {
    color: rgb(241, 194, 194);
    text-decoration: underline;
    font-weight: bold;
}

.alert a:hover {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}
