.swagger-schema-editor {
	font-family: Arial;
	font-size: 10pt;
}

.btn {
	font-size: 10pt;
	padding: 4px 6px;
	min-height: 1.95em;
}

.schema-control {
	font-size: 10pt;
	padding: 4px 6px;
	min-height: 1.95em;
}

.border-left {
	border-left: 1px solid #eeeeee;
}

select.schema-control:not([size]):not([multiple]) {
	max-width: 15em;
	height: 1.95em;
}

.schemaDescription {
	width: 30em;
}

.no-padding {
	padding: 0;
}

table {
	margin-bottom: 0;
}

td {
	padding-right: 0;
}

td.label-text {
	padding-right: 4px;
}

.typePreview {
	color: #bbb;
	padding-top: 2px;
	padding-left: 3px;
}

.input-group-addon {
	font-size: 1em;
	padding: 0.3em 0.5em;
}

.propertyAddMargin {
	margin-top: 3px;
}

.propertyTypeAddon {
	color: #888;
	font-size: 80%;
	width: 8.1em;
	text-align: left;
}

.propertyRequired {
	color: #999;
	font-size: 70%;
}

.propertyRequired:hover {
	color: #555;
}

.propertyIsRequired {
	color: #f55;
}

.propertyIsRequired:hover {
	color: red;
}

.fa-fw-sm {
	width: 0.5em;
}
