/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

p, table {
	margin-bottom: 0.5rem;
}

h2, h3, h4, h5, h6 {
	margin-top: 0.8rem;
}

h1 {
	font-size: 220%;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 140%;
}

h5 {
	font-size: 120%;
}

h6 {
	font-size: 100%;
}

.markdown table {
	border-collapse: collapse;
}

.markdown table, .markdown th, .markdown td {
	border: 1px solid #ddd;
}

.markdown th, .markdown td {
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	text-align: left;
}

.api-info {
	font-size: 80%;
}

.api-info-element {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.tag-table td {
	vertical-align: top;
	padding: 0.2rem;
}

.param-cell {
	vertical-align: top;
	padding: 0.2rem;
	font-weight: bold;
}

.label-text {
	font-size: 80%;
	color: #bbb;
	text-align: right;
	vertical-align: top;
	padding: 4pt 4px 0 4px;
}

.list-unstyled {
	margin-bottom: 0;
}

.edit-section, .edit-subsection {
	font-size: 1.5rem;
	color: #bbb;
	cursor: pointer;
	z-index: 100;
}

.edit-section:hover, .edit-subsection:hover {
	color: black;
}

.edit-section {
	position: fixed;
	top: 4rem;
	right: 1rem;
}

.edit-subsection {
	float: right;
	margin-right: 0.5em;
	font-size: 1em;
}

.clickable {
    cursor: pointer;
}

.filterBox {
	margin-bottom: 1rem;
}

.edit-card {
	float: right;
	color: #bbb;
	cursor: pointer;
	margin-left: 0.5em;
	z-index: 2000;
}

.edit-card:hover {
	color: black;
}

.fa-fw-sm {
	width: 0.75em;
}

.form-control.ng-dirty.ng-invalid,
.form-control.schema-control.ng-dirty.ng-invalid
{
    border: 1px solid #f00;
}

.input-clear-button {
	position: absolute;
	right: 1.1em;
	cursor: pointer;
}

.tag-badge {
	background-color: #31bfc6;
	display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
	border-radius: 0.25rem;
	margin: 0 0.15em;
}

.deprecated {
	text-decoration: line-through;
}

pre[class*="language-"]>code {
	border: none;
	box-shadow: 0px 0px 0px 1px #dfdfdf;
}

#swaggerui td.col, #swaggerui th.col {
	width: auto;
}