<!--
	Copyright 2017 Denis Martin.  This file is part of swadit.

	swadit is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	swadit is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with swadit.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="edit-section" (click)="addPath($event)" title="Add item" *ngIf="!apis.config.readOnly && apis.isOas2">
	<i class="fa fa-plus"></i>
</div>
<div class="filterBox">
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-filter"></i>
				</span>
				<input type="text" [(ngModel)]="filterText" name="filterText" class="form-control"
					placeholder="Filter by path name" title="Filter by path name">
				<span class="input-group-addon clickable" *ngIf="filterText" (click)="filterText=''">
					<i class="fa fa-times"></i>
				</span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="checkbox">
				<input type="checkbox" [(ngModel)]="sortItems" name="sortItems" id="sortItems" title="Display sorted">
				<label for="sortItems" class="ml-1 mb-0" style="margin-top: 0.4rem">Display sorted</label>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 1em">
		<div class="col-md-12">
			<label class="mr-1">Select Paths ({{apis.getLength(apis.selectedPaths)}} selected):</label>
			<div class="btn-group">
				<button type="button" class="btn btn-secondary btn-sm" (click)="apis.selectAllPaths()">All</button>
				<button type="button" class="btn btn-secondary btn-sm" (click)="apis.deselectAllPaths()">None</button>
				<button type="button" class="btn btn-secondary btn-sm" (click)="apis.inverseSelectedPaths()">Invers</button>
				<button type="button" class="btn btn-secondary btn-sm" disabled title="not yet implemented">By...</button>
			</div>
			<button type="button" class="btn btn-secondary btn-sm" (click)="apis.deleteSelectedPaths()" *ngIf="!apis.config.readOnly && apis.isOas2">Delete</button>
			<button type="button" class="btn btn-secondary btn-sm" (click)="modify($event)"
				[disabled]="apis.getLength(apis.selectedPaths) == 0" *ngIf="!apis.config.readOnly && apis.isOas2">Modify...</button>
		</div>
	</div>
</div>

<div *ngFor="let path of apis.filterList(apis.keys(apis.current['paths']), filterText, sortItems); let index = index"
	class="path clickable"
	[ngClass]="{ 'path-unselected': !apis.selectedPaths.hasOwnProperty(path), 'path-selected': apis.selectedPaths.hasOwnProperty(path), 'path-active': path==apis.activePath }"
	(click)="apis.activePath=path"
	(dblclick)="routeToPath(path)">
	<div style="float: left">
		<input type="checkbox" [ngModel]="apis.selectedPaths.hasOwnProperty(path)" 
			(click)="apis.selectPath(path, $event)">
		<span>&nbsp;{{path}}</span>
	</div>
	<div style="float: right">
		<span *ngFor="let method of methods">
			<span class="methodKey methodBgColor-{{method}}"
				[ngClass]="{ 'methodUnset': !apis.current['paths'][path][method], 'deprecated': apis.current['paths'][path][method] && apis.current['paths'][path][method]['deprecated'] }">
				{{method}}
			</span>
		</span>
	</div>
	<div style="clear: both"></div>
</div>
