<!--
	Copyright 2017 Denis Martin.  This file is part of swadit.

	swadit is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	swadit is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with swadit.  If not, see <http://www.gnu.org/licenses/>.
-->

<form (ngSubmit)="ok()" #editForm="ngForm">
	<div class="modal-header" *ngIf="pathMode">
		<span class="modal-title" id="modal-title">Parameter definition</span>
		<div class="form-check" style="margin-top: 0.4em">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" id="allMethods" name="allMethods"
					[(ngModel)]="allMethods"> for all operations
			</label>
		</div>
	</div>
	<div class="modal-body" id="modal-body">
		<div class="form-group" *ngIf="pathMode">
			<label for="refKey">Reference</label>
			<select id="refKey" name="refKey"
				[(ngModel)]="obj['$ref']" class="form-control" title="Reference to #/parameters">
				<option [ngValue]="null || undefined">(none)</option>
				<option *ngFor="let def of apis.keys(apis.current['parameters'])" value="#/parameters/{{def}}">
					{{def}}
				</option>
			</select>
		</div>

		<div class="form-group" *ngIf="!pathMode">
			<label for="parameterKey">Name of parameter definition</label>
			<input type="text" id="parameterKey" name="parameterKey" [(ngModel)]="key" required
				class="form-control" placeholder="Enter name for parameter" title="Name of parameter">
		</div>
		<div class="form-group" *ngIf="!obj['$ref']">
			<label for="parameterSchema" *ngIf="!pathMode">Parameter definition</label>
			<swadit-object-editor *ngIf="obj['in'] != 'body'"
				[id]="'parameterSchema'" 
				[schema]="apis.schemas.parameterNonBody" [(obj)]="obj" [title]="false">
			</swadit-object-editor>
			<swadit-object-editor *ngIf="obj['in'] == 'body'"
				[id]="'parameterSchema'" 
				[schema]="apis.schemas.parameterBody" [(obj)]="obj" [title]="false">
			</swadit-object-editor>
		</div>
	</div>
	<div class="modal-footer">
		<button *ngIf="key_orig || (pathMode && (obj_orig['name'] || obj_orig['$ref']))" 
			class="btn btn-danger mr-auto" type="button" (click)="deleteParameter()" title="Delete parameter">
			Delete</button>
		<span *ngIf="errorStr" style="color: red">
			{{errorStr}}
		</span>
		<button class="btn btn-primary" type="submit" [disabled]="!editForm.form.valid" title="Apply changes">
			Apply</button>
		<button class="btn btn-warning" type="button" (click)="activeModal.dismiss('cancel')" title="Do not apply changes">
			Cancel</button>
	</div>
</form>
