
body {
	counter-reset: h2counter;
	font-family: serif;
	font-size: 10.5pt;
	margin: 0;
	padding: 10mm 15mm 10mm 15mm;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

h1 {
	counter-reset: h2counter;
	font-size: 180%;
}

h2 {
	counter-reset: h3counter;
	font-size: 150%;
}

h2:before {
	counter-increment: h2counter;
	/*content: counter(h2counter) ".\0000a0\0000a0";*/
}

h3 {
	font-size: 120%;
}

h3:before {
	counter-increment: h3counter;
	/*content: counter(h2counter) "." counter(h3counter) "\0000a0\0000a0";*/
}

h4 {
	font-size: 100%;
}

h5 {
	font-size: 90%;
}

h6 {
	font-size: 90%;
	font-weight: normal;
	margin-bottom: .5em;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border: 1px solid lightgray;
	border-collapse: collapse;
}

th, td {
	padding: 4px;
}

th {
	text-align: left;
}

td {
	vertical-align: top;
	padding-bottom: -0.6em;
}

td p {
	margin: 0 0 6px 0;
}

pre {
	font-size: 80%;
	border: 1px solid lightgray;
	padding: 0.1cm;
}

@media print {    
    .no-print, .no-print * {
        display: none !important;
    }

	@page {
		size: 210mm 297mm;
		margin: 10mm 5mm 10mm 5mm;
		padding: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	.pathlistheading, .pathheading {
		page-break-before: always;
	}
}

.content {
	width: 170mm;
	overflow: hidden;
}

.pathlist {
	font-family: sans-serif;
}

.pathheading {
	margin-top: 1cm;
}

.methodkey {
	text-transform: uppercase;
	border: 1px solid darkgray;
	border-radius: 4px;
	padding: 2px;
	font-family: monospace;
	font-weight: bold;
}

h4 .methodkey {
	font-size: 110%;
}

.methodheading, .pathheading {
	border: 1px solid lightgray;
	background-color: lightgray;
	border-radius: 4px;
	padding: 3px;
	margin-top: 1cm;
}

.methodhighlight-get {
	border-color: #cdf;
	background-color: #cdf;
}

.methodhighlight-post {
	border-color: #cfc;
	background-color: #cfc;
}

.methodhighlight-put {
	border-color: #fc8;
	background-color: #fc8;
}

.methodhighlight-delete {
	border-color: #fcc;
	background-color: #fcc;
}

.deprecated {
	text-decoration: line-through;
	border: none;
}

.paramproperties {
	font-family: sans-serif;
	font-size: 80%;
}

.type {
	font-family: monospace;
	font-size: 90%;
}

.indent {
	/*margin-left: 0.5cm;*/
	float: left;
	width: 0.5cm;
}

.responseheading {
	margin-top: 0;
}

.responsebox {
	padding: 0.1cm;
}

.propertycell {
	white-space: nowrap;
}

.requiredtag {
	color: red;
}

.pathlist a {
	text-decoration: none;
	color: inherit;
}