<!--
	Copyright 2017 Denis Martin.  This file is part of swadit.

	swadit is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	swadit is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with swadit.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="edit-section" (click)="edit($event)" title="Add item" *ngIf="!apis.config.readOnly && apis.isOas2">
	<i class="fa fa-plus"></i>
</div>
<div class="filterBox">
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-filter"></i>
				</span>
				<input type="text" [(ngModel)]="filterText" name="filterText" class="form-control"
					placeholder="Filter by key name" title="Filter by key name">
				<span class="input-group-addon clickable" *ngIf="filterText" (click)="filterText=''">
					<i class="fa fa-times"></i>
				</span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="checkbox">
				<input type="checkbox" [(ngModel)]="sortItems" name="sortItems" id="sortItems" title="Display sorted">
				<label for="sortItems" class="mb-0" style="margin-top: 0.4rem">Display sorted</label>
			</div>
		</div>
	</div>
</div>

<div *ngFor="let resp of apis.filterList(keys(apis.getComponents('responses')), filterText, sortItems); let index = index" 
	class="card mb-2">
	<div class="card-header clickable" (click)="uncollapsed[resp] = !uncollapsed[resp]">
		<div class="row">
			<div class="col-md-10 preview">
				{{resp}}
				<span *ngIf="apis.getComponents('responses')[resp]['schema'] && apis.getComponents('responses')[resp]['schema']['type']" class="headerType"> ({{apis.getComponents('responses')[resp]['schema']['type']}})</span>
				<span *ngIf="apis.getComponents('responses')[resp]['description']"> {{apis.getComponents('responses')[resp]['description']}}</span>
			</div>
			<div class="col-md-2">
				<div class="edit-card" (click)="edit($event, resp)" *ngIf="!apis.config.readOnly && apis.isOas2">
					<i class="fa fa-fw fa-pencil"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="card-block" *ngIf="uncollapsed[resp]">
		<swadit-response-view [obj]="apis.getComponents('responses')[resp]">
		</swadit-response-view>
	</div>
</div>
