<!--
	Copyright 2017 Denis Martin.  This file is part of swadit.

	swadit is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	swadit is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with swadit.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="edit-section" (click)="editPath()">
	<i class="fa fa-pencil"></i>
</div>

<div class="api-info" *ngIf="apis.current && apis.current['paths']">
	<h1 style="margin-bottom: 0.7em">{{path}}</h1>

	<ul class="nav nav-tabs">
		<li *ngFor="let m of getMethods()"
			class="nav-item">
			<a class="nav-link" [ngClass]="{ 'active': m==method }" 
				href="javascript:void(0)" (click)="method=m">
				<span style="text-transform: uppercase">{{m}}</span>
				<span *ngIf="apis.current['paths'][path][m]['deprecated']" class="badge badge-warning">deprecated</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [ngClass]="{ 'active': !method }" 
				href="javascript:void(0)" (click)="method=null">
				...
			</a>
		</li>
	</ul>

	<div class="api-info-element" *ngIf="method">
		<div class="api-info-element" *ngIf="apis.current['paths'][path][method]['summary']">
			{{apis.current['paths'][path][method]['summary']}}
		</div>
		<markdown *ngIf="apis.current['paths'][path][method]['description']" class="api-info-element markdown" 
			[data]="apis.current['paths'][path][method]['description']">
		</markdown>

		<div *ngIf="apis.current['paths'][path][method]['tags']" class="api-info-element">
			Tags:
			<span *ngFor="let tag of apis.current['paths'][path][method]['tags']" class="tag-badge">
				{{tag}}
			</span>
		</div>

		<div *ngIf="apis.current['paths'][path][method]['externalDocs']" class="api-info-element">
			<a href="{{apis.current['paths'][path][method]['externalDocs']['url']}}" target="_blanc">
				<span *ngIf="apis.current['paths'][path][method]['externalDocs']['description']; else 'More'">
					{{apis.current['paths'][path][method]['externalDocs']['description']}}
				</span>
			</a>
		</div>

		<div *ngIf="apis.current['paths'][path][method]['schemes'] || apis.current['paths'][path][method]['operationId'] || apis.current['paths'][path][method]['consumes'] || apis.current['paths'][path][method]['produces']"
			class="api-info-element">
			<h2 class="clickable" (click)="collapsedInfo = !collapsedInfo">General Information</h2>
			<table *ngIf="!collapsedInfo">
				<tbody>
					<tr *ngIf="apis.current['paths'][path][method]['schemes']">
						<td class="label-text">schemes</td>
						<td>
							<span *ngFor="let item of apis.current['paths'][path][method]['schemes']">{{item}}&nbsp;</span>
						</td>
					</tr>
					<tr *ngIf="apis.current['paths'][path][method]['operationId']">
						<td class="label-text">operationId</td>
						<td>{{apis.current['paths'][path][method]['operationId']}}</td>
					</tr>
					<tr *ngIf="apis.current['paths'][path][method]['consumes']">
						<td class="label-text">consumes</td>
						<td>
							<ul class="list-unstyled">
								<li *ngFor="let item of apis.current['paths'][path][method]['consumes']">{{item}}</li>
							</ul>
						</td>
					</tr>
					<tr *ngIf="apis.current['paths'][path][method]['produces']">
						<td class="label-text">produces</td>
						<td>
							<ul class="list-unstyled">
								<li *ngFor="let item of apis.current['paths'][path][method]['produces']">{{item}}</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div *ngIf="apis.current['paths'][path][method]['security']" class="api-info-element">
			<h2 class="clickable" (click)="collapsedSecurity = !collapsedSecurity">Security</h2>
			<div *ngIf="!collapsedSecurity">
				<div *ngFor="let req of apis.current['paths'][path][method]['security']">
					<p style="font-weight: bold">{{apis.keys(req)[0]}}</p>
					<ul *ngIf="req[apis.keys(req)[0]].length>0">
						<li *ngFor="let scope of req[apis.keys(req)[0]]">{{scope}}</li>
					</ul>
				</div>
			</div>
		</div>

		<div *ngIf="(apis.current['paths'][path][method]['parameters'] && apis.current['paths'][path][method]['parameters'].length > 0) || (apis.current['paths'][path]['parameters'] && apis.current['paths'][path]['parameters'].length > 0)" 
			class="api-info-element">
			<h2 class="clickable" (click)="collapsedParameters = !collapsedParameters">Parameters</h2>
			<div *ngIf="!collapsedParameters">
				<div *ngFor="let param of getParameters(path, method)"
					swLet [values]="{paramObj: apis.resolveObj(param)}" #local="swLet"
					class="card mb-1">
					<div class="card-header clickable" 
						(click)="uncollapsedParameter[local.values.paramObj['name']] = !uncollapsedParameter[local.values.paramObj['name']]">
						<div class="row">
							<div class="col-md-11 preview">
								{{local.values.paramObj['name']}}
								<span *ngIf="local.values.paramObj['in']" class="headerType">in {{local.values.paramObj['in']}}</span>
								<span *ngIf="local.values.paramObj['type']" class="headerType">({{local.values.paramObj['type']}})</span>
								<span *ngIf="local.values.paramObj['description']">{{local.values.paramObj['description']}}</span>
							</div>
							<div class="col-md-1">
								<div class="edit-card" (click)="editParameter($event, param)">
									<i class="fa fa-fw fa-pencil"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="card-block" *ngIf="uncollapsedParameter[local.values.paramObj['name']]">
						<p *ngIf="param['$ref']" class="headerType">Defined in {{param['$ref']}}:</p>
						<swadit-schema-view *ngIf="local.values.paramObj['in']=='body'; else nonBodyParameter"
							[schema]="apis.schemas.parameterBody" [obj]="local.values.paramObj">
						</swadit-schema-view>
						<ng-template #nonBodyParameter>
							<swadit-schema-view
								[schema]="apis.schemas.parameterNonBody" [obj]="local.values.paramObj">
							</swadit-schema-view>
						</ng-template>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="apis.current['paths'][path][method]['responses'] && apis.keys(apis.current['paths'][path][method]['responses']).length>0">
			<h2 class="clickable" (click)="collapsedResponses = !collapsedResponses">Responses</h2>
			<div *ngIf="!collapsedResponses">
				<div *ngFor="let resp of apis.keys(apis.current['paths'][path][method]['responses']); let index = index" 
					class="card mb-1">
					<div class="card-header clickable" (click)="uncollapsedResponse[resp] = !uncollapsedResponse[resp]">
						<div class="row">
							<div class="col-md-11 preview">
								{{resp}}
								<span *ngIf="apis.current['paths'][path][method]['responses'][resp]['schema'] && apis.current['paths'][path][method]['responses'][resp]['schema']['type']" class="headerType">({{apis.current['paths'][path][method]['responses'][resp]['schema']['type']}})</span>
								<span *ngIf="apis.current['paths'][path][method]['responses'][resp]['schema'] && apis.current['paths'][path][method]['responses'][resp]['$ref']" class="headerType">({{apis.current['paths'][path][method]['responses'][resp]['$ref']}})</span>
								<span *ngIf="apis.current['paths'][path][method]['responses'][resp]['description']">{{apis.current['paths'][path][method]['responses'][resp]['description']}}</span>
							</div>
							<div class="col-md-1">
								<div class="edit-card" (click)="editResponse($event, resp)">
									<i class="fa fa-fw fa-pencil"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="card-block" *ngIf="uncollapsedResponse[resp]">
						<swadit-schema-view
							[schema]="apis.schemas.response" [obj]="apis.resolveObj(apis.current['paths'][path][method]['responses'][resp])">
						</swadit-schema-view>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="apis.hasExtensions(apis.current['paths'][path][method])" class="api-info-element">
			<h2 class="clickable" (click)="collapsedExtensions = !collapsedExtensions">Extensions</h2>
			<swadit-extensions-view *ngIf="!collapsedExtensions"
				[obj]="apis.current['paths'][path][method]">
			</swadit-extensions-view>
		</div>
	</div>

	<div class="api-info-element" *ngIf="!method">
		Add a method (tbd)
	</div>
</div>