<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{modalTitle}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <p ng-if="dialogType=='fileOpen'"><input type="file" id="modalFileInput" name="modalFileInput"></p>
    <p ng-if="dialogType=='fileAdd'"><input type="file" id="modalFileInput" name="modalFileInput" multiple></p>
    <p ng-if="dialogType=='fileAdd'"><input type="checkbox" ng-model="$parent.Swadit.addSource"> Add source file name to path descriptions</p>
    <p ng-if="dialogType=='fileSave'">Click to save Swagger file: <a download="swagger.yaml" ng-href="{{ downloadUrl }}">swagger.yaml</a></p>
    <p ng-if="modalHint!=''" ng-style="modalHintType=='error' && { color: 'red'}">{{modalHint}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" ng-if="dialogType!='fileSave'">Cancel</button>
</div>