<table>
	<tr>
		<td class="label-text">summary</td>
		<td><textarea title="A short summary of what the operation does. For maximum readability in the swagger-ui, this field SHOULD be less than 120 characters."
			placeholder="Summary" cols="90" rows="1" 
			ng-model="Swadit.api.paths[Swadit.activePath][Swadit.activeMethod]['summary']" ng-trim="true" msd-elastic></textarea></td>
	</tr>
	<tr>
		<td class="label-text">description</td>
		<td><textarea title="A verbose explanation of the operation behavior. GFM syntax can be used for rich text representation."
			placeholder="Description" cols="90" rows="1" 
			ng-model="Swadit.api.paths[Swadit.activePath][Swadit.activeMethod]['description']" ng-trim="true" msd-elastic></textarea>
		</td>
	</tr>
	<tr>
		<td class="label-text">deprecated</td>
		<td>
			<input type="checkbox" title="Declares this operation to be deprecated. Usage of the declared operation should be refrained." 
				ng-model="Swadit.api.paths[Swadit.activePath][Swadit.activeMethod]['deprecated']">
		</td>
	</tr>
	<tr>
		<td class="label-text">tags</td>
		<td>
			<div class="paddedText" ng-repeat="tag in Swadit.api.paths[Swadit.activePath][Swadit.activeMethod].tags">
				{{tag}}
				<span class="smallButton discreet" title="Deletes tag" 
					ng-click="deleteTag(tag, Swadit.api.paths[Swadit.activePath][Swadit.activeMethod])">Remove</span>
			</div>
			<form ng-submit="newTag(newTagType, Swadit.api.paths[Swadit.activePath][Swadit.activeMethod])">
				<input type="text" placeholder="Add tag" ng-model="newTagType"
					title="A list of tags for API documentation control. Tags can be used for logical grouping of operations by resources or any other qualifier."
					required ng-trim="true" ng-blur="newTagType = ''">
				<button type="submit" class="hidden" title="Add a new tag">Add</button>
			</form>
			<hr>
		</td>
	</tr>
	<tr>
		<td class="label-text">operation id</td>
		<td><input type="text" title="Unique string used to identify the operation. The id MUST be unique among all operations described in the API. Tools and libraries MAY use the operationId to uniquely identify an operation, therefore, it is recommended to follow common programming naming conventions." placeholder="Operation ID" 
			ng-model="Swadit.api.paths[Swadit.activePath][Swadit.activeMethod]['operationId']" ng-trim="true" pu-elastic-input>
		</td>
	</tr>
	<tr ng-hide="Swadit.activeMethod=='get'">
		<td class="label-text">consumes</td>
		<td>
			<div class="paddedText" ng-repeat="consume in Swadit.api.paths[Swadit.activePath][Swadit.activeMethod].consumes">
				{{consume}}
				<span class="smallButton discreet" title="Deletes the MIME type" 
					ng-click="deleteConsume(consume, Swadit.api.paths[Swadit.activePath][Swadit.activeMethod])">Remove</span>
			</div>
			<form ng-submit="newConsume(newConsumeType, Swadit.api.paths[Swadit.activePath][Swadit.activeMethod])">
				<input type="text" list="mimeTypes" placeholder="Add MIME type (if different from globals)" ng-model="newConsumeType"
					title="A list of MIME types the operation can consume. This overrides the consumes definition at the Swagger Object. An empty value MAY be used to clear the global definition."
					required ng-trim="true" ng-blur="newConsumeType = ''">
				<button type="submit" class="hidden" title="Add a new MIME type">Add</button>
			</form>
		</td>
	</tr>
	<tr>
		<td class="label-text">produces</td>
		<td>
			<div class="paddedText" ng-repeat="produce in Swadit.api.paths[Swadit.activePath][Swadit.activeMethod].produces">
				{{produce}}
				<span class="smallButton discreet" title="Deletes the MIME type" 
					ng-click="deleteProduce(produce, Swadit.api.paths[Swadit.activePath][Swadit.activeMethod])">Remove</span>
			</div>
			<form ng-submit="newProduce(newProduceType, Swadit.api.paths[Swadit.activePath][Swadit.activeMethod])">
				<input type="text" list="mimeTypes" placeholder="Add MIME type (if different from globals)" ng-model="newProduceType"
					title="A list of MIME types the operation can produce. This overrides the produces definition at the Swagger Object. An empty value MAY be used to clear the global definition."
					required ng-trim="true" ng-blur="newProduceType = ''">
				<button type="submit" class="hidden" title="Add a new MIME type">Add</button>
			</form>
			<hr>
		</td>
	</tr>
	<tr>
		<td class="label-text">parameters<br>(all methods)</td>
		<td>
			<div class="paddedText" ng-repeat="param in Swadit.api.paths[Swadit.activePath].parameters" ng-init="visible = param.$ref==undefined && param.name==undefined">
				{{param.name}}
				<span ng-if="param.$ref" class="typePreview">{{param.$ref}}</span>
				<span ng-if="!param.$ref" class="typePreview">in {{param.in}} ({{param.in!='body'? param.type : (param.schema.$ref ? param.schema.$ref : param.schema.type)}})</span>
				<span class="smallButton discreet" title="Deletes the parameter" 
					ng-click="deleteParameter(param, Swadit.api.paths[Swadit.activePath])">Remove</span>
				<span class="smallButton discreet" title="Show/hide the details of the parameter definition" 
					ng-click="visible?visible=false:visible=true">Details</span>
				<span ng-if="(param.description!=undefined && param.description!='')">
					{{param.description.length > 40 ? param.description.substr(0,39) + '...' : param.description}}
				</span>
				<span ng-controller="SwaditParameterDefinitionsController" ng-init="param = $parent.param">
					<div ng-if="visible" ng-include src="'ui/parameterEditor.html'"></div>
				</span>
			</div>
			<span class="smallButton discreet" title="Adds a new parameter" 
				ng-click="newParameter(Swadit.api.paths[Swadit.activePath])">Add</span>
		</td>
	</tr>
	<tr>
		<td class="label-text">parameters<br>(this method)</td>
		<td>
			<div class="paddedText" ng-repeat="param in Swadit.api.paths[Swadit.activePath][Swadit.activeMethod].parameters" ng-init="visible = param.$ref==undefined && param.name==undefined">
				{{param.name}}
				<span ng-if="param.$ref" class="typePreview">{{param.$ref}}</span>
				<span ng-if="!param.$ref" class="typePreview">in {{param.in}} ({{param.in!='body'? param.type : (param.schema.$ref ? param.schema.$ref : param.schema.type)}})</span>
				<span class="smallButton discreet" title="Deletes the parameter" 
					ng-click="deleteParameter(param, Swadit.api.paths[Swadit.activePath][Swadit.activeMethod])">Remove</span>
				<span class="smallButton discreet" title="Show/hide the details of the parameter definition" 
					ng-click="visible?visible=false:visible=true">Details</span>
				<span ng-if="(param.description!=undefined && param.description!='')">
					{{param.description.length > 40 ? param.description.substr(0,39) + '...' : param.description}}
				</span>
				<span ng-controller="SwaditParameterDefinitionsController" ng-init="param = $parent.param">
					<div ng-if="visible" ng-include src="'ui/parameterEditor.html'"></div>
				</span>
			</div>
			<span class="smallButton discreet" title="Adds a new parameter" 
				ng-click="newParameter(Swadit.api.paths[Swadit.activePath][Swadit.activeMethod])">Add</span>
			<hr>
		</td>
	</tr>
	<tr>
		<td class="label-text">responses</td>
		<td>
			<div ng-repeat="(responseCode, responseDef) in Swadit.api.paths[Swadit.activePath][Swadit.activeMethod].responses"
				ng-init="visible = responseDef.description==undefined; renamedResponseCode = responseCode">

				<form ng-submit="renameResponseCode(responseCode, renamedResponseCode)">
					<input type="text" placeholder="Response Code" ng-model="renamedResponseCode"
						title="{{(responseDef.description==undefined || responseDef.description=='')?'Response Code':responseDef.description}}"
						required ng-trim="true" ng-blur="renameResponseCode(responseCode, renamedResponseCode)" pu-elastic-input>
					<button type="submit" class="hidden" title="Changes the response code">Rename</button>
					{{responseDef.$ref ? responseDef.$ref : (responseDef.description.length > 40 ? responseDef.description.substr(0,39) + '...' : responseDef.description)}}
				</form>

				<span class="smallButton discreet" title="Deletes the response" 
					ng-click="deleteResponse(responseCode, Swadit.api.paths[Swadit.activePath][Swadit.activeMethod])">Remove</span>
				<span class="smallButton discreet" title="Show/hide the details of the response definition" 
					ng-click="visible?visible=false:visible=true">Details</span>
				
				<span ng-if="visible">
					<table>
						<tr>
							<td class="label-text">$ref</td>
							<td>
								<select ng-model="responseDef.$ref" ng-change="refChanged('{{responseDef.$ref}}')">
									<option value="">(none)</option>
									<option ng-repeat="(ref, responseDef) in Swadit.api.responses" value="#/responses/{{ref}}">#/responses/{{ref}}</option>
								</select>
							</td>
						</tr>
					</table>
					<span ng-if="responseDef.$ref == undefined" ng-controller="SwaditResponseDefinitionController" 
						ng-init="responseCode = $parent.responseCode; responseDef = $parent.responseDef;">
						<div ng-include src="'ui/responseEditor.html'"></div>
					</span>
				</span>
			</div>
		</td>
	</tr>
	<tr>
		<td class="label-text">add</td>
		<td>
			<form ng-submit="newResponse(newResponseCode)">
				<input type="text" placeholder="Response code or 'default'" ng-model="newResponseCode"
					title="Add a new response code to the list of responses"
					required ng-trim="true" ng-blur="newResponseCode = ''">
				<button type="submit" class="hidden" title="Add a new response code to the list of responses">Add</button>
			</form>
		</td>
	</tr>
</table>