<table>
	<tr>
		<td class="label-text">description</td>
		<td><textarea msd-elastic title="Description (required)" placeholder="Description (required)" cols="60" rows="1" class="responseDescription" ng-model="responseDef.description" ng-trim="true"></textarea></td>
	</tr>
	<tr>
		<td class="label-text">schema</td>
		<td class="paddedText">
            <span ng-show="responseDef.schema != undefined" class="glyphbutton glyphicon glyphicon-remove" title="Remove schema definition" 
				ng-click="removeSchema()"></span>
            <span ng-show="responseDef.schema != undefined" class="glyphbutton glyphicon glyphicon-edit" title="Show/hide the details of the schema" 
				ng-click="setSchemaVisible(!isSchemaVisible())"></span>
			<span ng-show="responseDef.schema != undefined" class="paddedText typePreview showPointer" 
				ng-click="setSchemaVisible(!isSchemaVisible())">{{getSchemaPreview(responseDef.schema)}}</span>
            <span ng-show="responseDef.schema == undefined" class="smallButton discreet" title="Add schema definition" 
				ng-click="addSchema()">Add</span>
			<span ng-if="isSchemaVisible()" ng-controller="SwaditSchemaController" ng-init="schema = responseDef.schema;">
				<div ng-include src="'ui/schemaEditor.html'"></div>
			</span>
		</td>
	</tr>
    <!-- tr>
		<td class="label-text">headers</td>
		<td class="paddedText">NYI</td>
	</tr -->
    <tr>
		<td class="label-text">examples</td>
		<td class="paddedText">
            <div ng-repeat="(mimeType, example) in responseDef.examples" 
                ng-init="renameMimeType = mimeType; exampleJson = exampleToJson(example)">
				<form ng-submit="renameExample(mimeType, renameMimeType)">
					<span class="glyphbutton glyphicon glyphicon-remove" title="Deletes the example" 
						ng-click="deleteExample(mimeType)"></span>
					<input type="text" placeholder="MIME type of example" ng-model="renameMimeType"
						title="MIME type of example"
						required ng-trim="true" ng-blur="renameExample(mimeType, renameMimeType)" pu-elastic-input>
					<button type="submit" class="hidden" title="Changes the MIME type">Rename</button>
				</form>
				<div> <!-- ng-show="visibleExample"> -->
					<textarea msd-elastic title="Example in JSON notation" placeholder="Example in JSON notation" cols="60" rows="1" 
						class="responseDescription monospace" ng-change="exampleChanged()" 
                        ng-model="exampleJson" ng-trim="true"></textarea><br>
                    <span ng-class="exampleModified ? 'smallButton' : 'smallButton discreet'" title="Commit changes" ng-click="commitExample()">Commit</span>
                    <span ng-class="exampleModified ? 'smallButton' : 'smallButton discreet'" title="Revert changes" ng-click="revertExample()">Revert</span>
				</div>
			</div>
            <span class="paddedText smallButton discreet" title="Add an example" ng-click="addExample()">Add</span>
        </td>
	</tr>
</table>
<hr>