<!--
	Copyright 2017 Denis Martin.  This file is part of swadit.

	swadit is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	swadit is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with swadit.  If not, see <http://www.gnu.org/licenses/>.
-->

<form (ngSubmit)="ok()" #editForm="ngForm">
	<!--
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">{{api.info.title}}</h3>
	</div>
	-->
	<div class="modal-body" id="modal-body">
		<ngb-tabset>
			<ngb-tab title="Info" >
				<ng-template ngbTabContent>
					<div class="tab-content">
						<swadit-object-editor [schema]="apis.schemas.info" [(obj)]="api.info" [title]="false"></swadit-object-editor>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Contact">
				<ng-template ngbTabContent>
					<div class="tab-content">
						<div class="row">
							<div class="col col-sm-12">
								<swadit-object-editor [schema]="apis.schemas.contact" [(obj)]="api.info.contact" [card]="true"></swadit-object-editor>
							</div>
						</div>
						<div class="row" style="margin-top: 1rem!important">
							<div class="col col-sm-6">
								<swadit-object-editor [schema]="apis.schemas.license" [(obj)]="api.info.license" [card]="true"></swadit-object-editor>
							</div>
							<div class="col col-sm-6">
								<swadit-object-editor [schema]="apis.schemas.externalDocs" [(obj)]="api.externalDocs" [card]="true"></swadit-object-editor>
							</div>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="General">
				<ng-template ngbTabContent>
					<div class="tab-content">
						<swadit-object-editor [schema]="apis.schemas.root" [(obj)]="api"></swadit-object-editor>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Tags">
				<ng-template ngbTabContent>
					<div class="tab-content">
						<swadit-array-editor [schema]="apis.schemas.tags" [(obj)]="api.tags"></swadit-array-editor>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Security">
				<ng-template ngbTabContent>
					<div class="tab-content">
						<p>Security Definitions:</p>
						<swadit-object-editor [schema]="apis.schemas.securityDefinitions" [(obj)]="api.securityDefinitions"></swadit-object-editor>
						<p>Default Security Requirements:</p>
						<swadit-security-editor [schema]="apis.schemas.security" [(obj)]="api.security"
							[securityDefinitions]="api.securityDefinitions">
						</swadit-security-editor>
					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" [disabled]="!editForm.form.valid">Apply</button>
		<button class="btn btn-warning" (click)="activeModal.dismiss('cancel')" [disabled]="!editForm.form.valid">Cancel</button>
	</div>
</form>
